navbar {
  position: fixed;
  z-index: 1;

}

ul {
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: large;
}

li {
  /* make sure that the home page link is on the left of the page, not the right */
  float: right;
  margin-right: 20px;
}

li:last-child {
  float: left;
  /* make sure that the home page link is on the left of the page, not the right */
  margin-left: 0px;
}